<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogToTrace="true"
      internalLogToConsoleError="true"
      internalLogLevel="info"
      interbalLogFile="c:\temp\logs\CoreDbDemo\internal-nlog.txt"
      throwExceptions="true">

  <!-- define various log targets -->
  <targets>
    <!-- write logs to file -->
    <!--<target xsi:type="File" name="allfile" fileName="c:\temp\nlog-all-${shortdate}.log"
                 layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception}" />-->

    <target xsi:type="File" name="web-log" fileName="${basedir}\app_data\temp\logs\webapi-${shortdate}.log"
             layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|  ${message} ${exception}" />

    <target xsi:type="Trace" name="azure-stream"
             layout="${logger}|${uppercase:${level}}|  ${message} ${exception:format=tostring}" />

    <target xsi:type="Null" name="blackhole" />
  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <!--<logger name="*" minlevel="Trace" writeTo="allfile" />-->

    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Trace" writeTo="web-log" />
    <logger name="*" minlevel="Trace" writeTo="azure-stream" />
  </rules>
</nlog>